<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.uga.cs.athensrideshare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".Global"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AthensRideShare"
        tools:targetApi="31">
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".homeScreen2">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".homeScreen2" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".homeScreen2">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".homeScreen2" />
        </activity>
        <activity
            android:name=".homeScreen2"
            android:parentActivityName=".homeScreen2">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".homeScreen2" />
        </activity>
        <activity
            android:name=".NewOffer"
            android:exported="true">
        </activity>
        <activity
            android:name=".NewRequest"
            android:parentActivityName=".homeScreen2">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".homeScreen2" />
        </activity>
        <activity
            android:name=".ReviewOffer"
            android:parentActivityName=".homeScreen2">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".homeScreen2" />
        </activity>

        <activity
            android:name=".acceptedOffer"
            android:parentActivityName=".ReviewOffer">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReviewOffer" />
        </activity>

        <activity
            android:name=".acceptedRequest"
            android:parentActivityName=".homeScreen2">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".homeScreen2" />
        </activity>

        <activity
            android:name=".ReviewRequest"
            android:parentActivityName=".homeScreen2">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".homeScreen2" />
        </activity>



        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>